<% content_for :left_column do %>
	<h3><%= link_to 'All albums', admin_albums_path %></h3>
	<% temp = Album.authority(current_read_level).year_range
	unless temp.blank? %>
		<ul class="nav">
			<% temp.each_with_index{|year, index| %>
				<li <%= "class='last'" if temp.size-1 == index %>><%= link_to year, admin_albums_path(:year => year) %></li>
			<% } %>
		</ul>
	<% end %>
<% end %>