[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/ajaxful-rating"]
	path = vendor/plugins/ajaxful-rating
	url = git://github.com/edgarjs/ajaxful-rating.git
[submodule "vendor/plugins/validates_as_email_address"]
	path = vendor/plugins/validates_as_email_address
	url = git://github.com/pluginaweek/validates_as_email_address.git
[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
