@import "general.css";

/*****************/
/*    layout     */
/*****************/
body {
	background:#BBD9EE;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
}
/* main container */
#main {
	width:992px;
	margin:0 auto;
}
/* header */
#header {
	position:relative;
	width:992px;
	height:106px;
	background:url(../images/admin/bg-header.gif) no-repeat left bottom;
}
/* site logo */
a.logo {
	position:absolute;
	top:5px;
	left:20px;
	color: #FF7700;
	font-size: 36px;
}
/* header tabs */
#top-navigation {
	position:absolute;
	top:60px;
	left:20px;
	margin:0;
	padding:0;
	list-style:none;
}
#top-navigation li {
	float:left;
	margin:0 3px 0 0;
	height:34px;
	background:url(../images/admin/tab.gif) repeat-x top;
}
#top-navigation li a {
	float:left;
	display:block;
	height:20px;
	line-height:19px;
	color:#606060;
	padding:4px 0 0 0;
}
#top-navigation li span {
	float:left;
	background:url(../images/admin/tab-left.gif) no-repeat left top;
}
#top-navigation li span span {
	background:url(../images/admin/tab-right.gif) no-repeat right top;
	padding:7px 10px 0 10px;
}
#top-navigation li.active {
	padding:0;
	height:34px;
	background:url(../images/admin/tab-active.gif) repeat-x top;
	margin-right:2px;
}
#top-navigation li.active span {
	background:url(../images/admin/tab-active-left.gif) no-repeat left top;
	height:34px;
}
#top-navigation li.active span span {
	background:url(../images/admin/tab-active-right.gif) no-repeat right top;
	height:23px;
	padding:11px 10px 0 10px;
	line-height:19px;
	color:#606060;
}
/* middle */
#middle {
	float:left;
	width:967px;
	background:url(../images/admin/bg-middle.gif) repeat-y left;
	padding:10px 12px 0 12px;
}
/* left column */
#left-column {
	float:left;
	padding: 0 12px;
	width:100px;
}
/* center column */
#center-column {
	margin-bottom: 30px;
	padding-left: 12px;
	padding-bottom: 0px;
	padding-right: 24px;
	padding-top: 0;
	float:left;
	width: 807px;
}
/* footer */
#footer {
	float:left;
	width:100%;
	background:url(../images/admin/bg-footer.gif) no-repeat;
	height:15px;
}
/* left column styles */
#left-column .link {
	display:block;
	height:25px;
	background:url(../images/admin/bg-left-link.gif) no-repeat scroll left top;
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#fff;
	background:url(../images/admin/bg-left-header.gif) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
}
ul.nav {
	width: 98px;
	margin:0 0 11px 0;
	border-bottom:2px solid #FF9600;
	background:#ECEFE7;
	list-style:none;
	padding-left: 2px;
}
ul.nav li {
	padding:4px 4px 6px 5px;
	background:url(../images/admin/bg-dotted.gif) repeat-x bottom;
}
ul.nav a {
	padding:0 0 0 12px;
	background:url(../images/admin/arrow.gif) no-repeat 0 4px;
}
ul.nav a:hover {
	font-weight:bold;
}
ul.nav li.last {
	background:none;
}
/* center column styles */
.top-bar {
	float:left;
	width: 798px;
	border-left:2px solid #f70;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
}
/* orange button */
.top-bar .button {
	float:right;
	display:block;
	width:75px;
	height:35px;
	text-align:center;
	padding-bottom: 5px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:30px;
	background:url(../images/admin/bg-orange-button.gif) no-repeat;
	border: none;
}
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #f70;
	border-bottom:2px solid #f70;
	padding:5px 0 3px 0;
	margin:0 0 0px 0;
}

.subtitle-bar {
	clear:both;
	border-top:2px solid #f70;
	border-bottom:2px solid #f70;
	padding:5px 0 3px 0;
	margin:0 0 0px 0;
	font-size:15px;
}


/*****************/
/* listig table  */
/*****************/
.listing table {
	width: 100%;
	font: normal 85%/150% Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid #969696;
}
.listing thead th {
	font: bold 1.2em/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	font-variant: small-caps;
	color: black;
	text-align: center;
	border: 1px solid #969696;
	background: #F0F0F0;
}
.listing tbody td {
	padding: 5px;
	background: #fff;
	color: #000;
	text-align: center;
}
.listing tbody tr:hover td {
	color: #000;
	background-color: LavenderBlush;
}
.listing tbody tr.odd:hover td {
	color: #000;
	background-color: LavenderBlush;
}
.listing tbody tr.odd {
	border: 1px solid #969696;
}

.listing tbody tr.odd td, tbody tr.odd th {
	background: #F0F8FF;
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
}
.listing table th a:link {
	color: black;
	text-decoration: none;
}

.listing tbody tr td a:link {
	color: black;
	text-decoration: none;
}

.listing tbody tr td a:visited{
	color: black;
	text-decoration: none;
}

.listing tbody tr td a:active{
	color: black;
	text-decoration: none;
}

.listing tbody tr td a:hover{
	color: black;
	text-decoration: underline;
}



.listing tbody td.special{	border: 2px solid #87CEFA; }

.listing tbody tr:hover td.special{ color: #000; background-color: #FFF; }

.listing tbody tr.odd:hover td.special{ color: #000; background-color: #FFF; }

.listing .order {
	padding-left: 0px;
	padding-right: 0px;
	width: 20px;
}
.listing .check_box {
	padding-left: 0px;
	padding-right: 0px;
	width: 20px;
}
.listing tbody td.text_column {
	text-align: left;
}
.listing tbody td.date {
	padding-left: 0px;
	padding-right: 0px;
	width: 70px;
}
.listing tbody td.icon {
	padding-left: 0px;
	padding-right: 0px;
	width: 20px;
}
.listing tbody td.number {
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	width: 20px;
}
.listing tbody td.level {
	padding-left: 0px;
	padding-right: 0px;
	width: 50px;
}
.listing tbody td.datetime {
	padding-left: 0px;
	padding-right: 0px;
	width: 120px;
}
.listing tbody td.minute {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 30px;
}

.listing tbody td.thumb {
	width:90px;
}

/*****************/
/* The error box */
/*****************/
.fieldWithErrors {
	float: left;
	padding: 1px;
	margin-right: 5px;
	background-color: #ff2639;
	display: table;
}
#errorExplanation {
	width: 400px;
	border: 2px solid #ff2639;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0 ;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #ff2639 ;
	color: #fff ;
}
#errorExplanation p {
	color: #333 ;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
}

/*****************/
/* detail table  */
/*****************/
.detail_table {
	width: 500px;
}
.detail_table tr {
	height: 30px;
}
.detail_table th {
	width: 70px;
	text-align: left;
	font-weight: normal;
}
.detail_table .full_width {
	width: 100%;
}

/*****************/
/* detail table  */
/*****************/
.add_content {
	text-align: center;
}

.add_content .center_select {
	width: 200px;
	padding: 0 15px 0 15px;
}

.add_content .center_select select {
	width: 100%;
}