/*****************/
/*    layout     */
/*****************/
body {
	background:#BBD9EE;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
}
/* main container */
#main {
	width:992px;
	margin:0 auto;
}
/* header */
#header {
	position:relative;
	width:992px;
	height:106px;
	background:url(../images/admin/bg-header.gif) no-repeat left bottom;
}
/* site logo */
a.logo {
	position:absolute;
	top:5px;
	left:20px;
}
/* header tabs */
#top-navigation {
	position:absolute;
	top:60px;
	left:20px;
	margin:0;
	padding:0;
	list-style:none;
}
#top-navigation li {
	float:left;
	margin:0 3px 0 0;
	height:34px;
	background:url(../images/admin/tab.gif) repeat-x top;
}
#top-navigation li a {
	float:left;
	display:block;
	height:20px;
	line-height:19px;
	color:#606060;
	padding:4px 0 0 0;
}
#top-navigation li span {
	float:left;
	background:url(../images/admin/tab-left.gif) no-repeat left top;
}
#top-navigation li span span {
	background:url(../images/admin/tab-right.gif) no-repeat right top;
	padding:7px 10px 0 10px;
}
#top-navigation li.active {
	padding:0;
	height:34px;
	background:url(../images/admin/tab-active.gif) repeat-x top;
	margin-right:2px;
}
#top-navigation li.active span {
	background:url(../images/admin/tab-active-left.gif) no-repeat left top;
	height:34px;
}
#top-navigation li.active span span {
	background:url(../images/admin/tab-active-right.gif) no-repeat right top;
	height:23px;
	padding:11px 10px 0 10px;
	line-height:19px;
	color:#606060;
}
/* middle */
#middle {
	float:left;
	width:967px;
	background:url(../images/admin/bg-middle.gif) repeat-y left;
	padding:10px 12px 0 12px;
}
/* left column */
#left-column {
	float:left;
	padding: 0 12px;
	width:100px;
}
/* center column */
#center-column {
	float:left;
	width: 807px;
	padding: 0 24px 0 12px;
}
/* footer */
#footer {
	float:left;
	width:100%;
	background:url(../images/admin/bg-footer.gif) no-repeat;
	height:15px;
}
/* left column styles */
#left-column .link {
	display:block;
	height:25px;
	background:url(../images/admin/bg-left-link.gif) no-repeat scroll left top;
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#fff;
	background:url(../images/admin/bg-left-header.gif) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
}
ul.nav {
	width: 98px;
	margin:0 0 11px 0;
	border-bottom:2px solid #FF9600;
	background:#ECEFE7;
	list-style:none;
	padding-left: 2px;
}
ul.nav li {
	padding:4px 4px 6px 5px;
	background:url(../images/admin/bg-dotted.gif) repeat-x bottom;
}
ul.nav a {
	padding:0 0 0 12px;
	background:url(../images/admin/arrow.gif) no-repeat 0 4px;
}
ul.nav a:hover {
	font-weight:bold;
}
ul.nav li.last {
	background:none;
}
/* center column styles */
.top-bar {
	float:left;
	width: 798px;
	border-left:2px solid #f70;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	width:75px;
	height:35px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:30px;
	background:url(../images/admin/bg-orange-button.gif) no-repeat;
}
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #f70;
	border-bottom:2px solid #f70;
	padding:5px 0 3px 0;
	margin:0 0 17px 0;
}
.select-bar select {
	width:145px;margin:0 2px;
}





/*****************/
/* listig table  */
/*****************/
.listing table {
	width: 100%;
	font: normal 85%/150% Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid #969696;
}
.listing thead th {
	font: bold 1.2em/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	font-variant: small-caps;
	color: black;
	text-align: center;
	border: 1px solid #969696;
	background: #F0F0F0;
}
.listing tbody td {
	padding: 5px;
	background: #fff;
	color: #000;
	text-align: center;
}
.listing tbody tr:hover td {
	color: #000;
	background-color: LavenderBlush;
}
.listing tbody tr.odd:hover td {
	color: #000;
	background-color: LavenderBlush;
}
.listing tbody tr.odd {
	border: 1px solid #969696;
}

.listing tbody tr.odd td, tbody tr.odd th {
	background: #F0F8FF;
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
}
.listing table th a:link {
	color: #047;
	text-decoration: none;
}

.listing tbody tr td a:link {
	color: #DC143C;
	text-decoration: none;
}

.listing tbody tr td a:visited{
	color: #DC143C;
	text-decoration: none;
}

.listing tbody tr td a:active{
	color: #000;
	text-decoration: none;
}

.listing tbody tr td a:hover{
	color: red;
	text-decoration: underline;
}



.listing tbody td.special{	border: 2px solid #87CEFA; }

.listing tbody tr:hover td.special{ color: #000; background-color: #FFF; }

.listing tbody tr.odd:hover td.special{ color: #000; background-color: #FFF; }

.listing .check_box {
	padding-left: 0px;
	padding-right: 0px;
	width: 20px;
}
.listing tbody td.text_column {
	text-align: left;
}
.listing tbody td.date {
	padding-left: 0px;
	padding-right: 0px;
	width: 70px;
}
.listing tbody td.icon {
	padding-left: 0px;
	padding-right: 0px;
	width: 20px;
}
.listing tbody td.level {
	padding-left: 0px;
	padding-right: 0px;
	width: 50px;
}



/*********************/
/*  for all elements */
/*********************/
img {border:none;}
a {color:#060606;text-decoration: none}










input {vertical-align:middle}

input.text, select, textarea {
	font-family:arial,sans-serif;
	color:#333;
	font-size:12px;
	vertical-align:middle;
}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
	
	




	

	

	

	


	


/* table container */
div.table {
	float:left;
	position:relative;
	width:614px;
	margin:0 0 37px 0;
	}
table.listing {
	border-bottom:1px solid #9097A9;
	width:613px;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
	}
table.listing th {
	border-top:0 !important;
	}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {
	position:absolute;
	top:0;
	left:0;
	}
div.table img.right {
	position:absolute;
	top:0;
	right:1px;
	}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	background:#9097A9;
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
	}
table.listing .bg td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
table.listing .first {border-left:0px solid #9097A9;text-align:left;}
table.listing .last {border-right:0px solid #9097A9;}

table.listing th.first {background:#9097A9 url(../images/admin/bg-th-left.gif) no-repeat left top;border-left:0;}
table.listing th.last {background:#9097A9 url(../images/admin/bg-th-right.gif) no-repeat right top;border-right:0;}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9 url(../images/admin/bg-select.gif);
	color:#fff;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
