/*********************/
/*  for all elements */
/*********************/
img {border:none;}
a {color: black;text-decoration: none}

input[type="text"], input[type="password"], textarea, select {
	border: 1px solid #CCCCCC;
	font-size:12px;
/*	height: 17px;*/
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
	border-color: #06c;
}
input[type='text']:focus, input[type='password']:focus, select:focus, textarea:focus {
	background-color:#FFFFDD;
}
.calendar_date_select_popup_icon {
	vertical-align: middle;
}

/************************************************************/
/**************            pagination       *****************/
/************************************************************/
.navigation_wrap {
  	margin-left: auto;
  	margin-right: auto;
	padding-top:5px;
	padding-bottom:5px;
}

.pagination {
	padding-top: 3px;
	margin: 0px;
	font-size: 9px;
	float: left;
}

.pagination a {
	padding: 1px 3px 1px 3px;
	margin: 1px;
	text-decoration: none;
	color: #0080ff;
}

.pagination a:hover, .pagination a:active {
	background-color: #0080ff;
	color: white;
}

.pagination span.current {
	padding: 1px 3px 1px 3px;
	margin: 1px;
	border: 1px solid #0080ff;
	font-weight: bold;
	background-color: #0080ff;
	color: #FFF;
}

.pagination span.disabled {
	padding: 1px 3px 1px 3px;
	margin: 1px;
/*	border: 1px solid #eee;*/
	color: #ddd;
}

.per_page {
	float:left;
}
.per_page select {
	width: 50px;
}