@import "general.css";

body {
	background:#989898 none repeat scroll 0 0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:18px;
	padding: 0px;
	margin: 0px;
}

#bgtop {
	background-color:#181818;
}

.wrapper {
	margin:0 auto;
	max-width:1060px;
	text-align:left;
	width:95%;
}

#logo {
	float:left;
	padding-top:6px;
}

#logo h1 {
	color:brown;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:36px;
	font-weight:bold;
	line-height:25px;
	margin:0.5em 0;
	padding:0;
}

#admin {
	float: right;
}

#admin ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#admin ul li{
	float:right;
	margin:0;
	padding:0;
	margin-left:1em;
}

#admin ul li a {
	color:#D5D5D5;
	display:block;
	font-size:14px;
	font-weight:bold;
	padding:40px 10px 16px;
	text-decoration:none;
}

#admin ul li a:hover {
	background:transparent url(../images/simpic/topmenu.jpg) repeat-x scroll left top;
	color:#FFE465;
}

.clear {
	clear:both;
}

#bgbottom {
	background-color:#989898;
	text-align: center;
}

#container {
	background-color:#FFFFFF;
	border-color:#FFFFFF #FFFFFF -moz-use-text-color;
	border-style:solid solid none;
	border-width:5px 5px medium;
}

#left {
	z-index:20;
	float:left;
	width:20%;
	overflow:hidden;
}

#main {
	float:right;
	width:79.5% !important;
}

#footer {
	background-color:#989898;
	clear:both;
	margin-bottom:10px;
	padding:0 10%;
	position:relative;
	text-align:center;
}

#footer .bgright {
	background:transparent url(../images/simpic/footerright.jpg) no-repeat scroll right top;
	color:#FFFFFF;
	text-align:center;
}

#footer .bgleft {
	background:transparent url(../images/simpic/footerleft.jpg) no-repeat scroll left top;
	height:34px;
	padding:6px 10px 0;
}

#footer a {
	color:#FFFFFF;
	text-decoration:underline;
}

#copyright {
	width:94%;
	margin: 3%;
	background-color: #CFCFCF;
	text-align: center;
}

#copyright table {
	width: 100%;
	padding: 5px 0;
	margin: auto;
	text-align: center;
}

#bg_menu {
	width:94%;
	padding:3% 3% 10%;
	voice-family:inherit;
	margin-bottom:5px;
}

#left ul.menu {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#left ul.menu li.menuli {
	background-color: #3E7AD4;
}

#left ul.menu li.menuli span {
	display: block;
	background:transparent url(../images/simpic/dot.gif) repeat-x scroll left bottom;
}

#left ul.menu li.menuli span a {
	background:transparent url(../images/simpic/mainlevel.gif) no-repeat scroll 5px 10px;
	color:#FFFFFF;
	display:block;
	padding:5px 0 5px 20px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight: bold;
}

#left ul.menu li.menuli:hover {
	background-color: #99FFFF;
}

#left ul.menu li.menuli span a:hover {
	color: black;
	font-weight: bold;
}

#left ul.submenu {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#left ul.submenu li.submenuli {
	background-color: #3ebe3e;
	padding-left:0.5em;
}

#left ul.submenu li.submenuli a {
	background:transparent url(../images/simpic/submenu.gif) no-repeat scroll 5px 10px;
	color:#FFFFFF;
	display:block;
	padding:5px 0 5px 20px;
	text-decoration:none;
	text-transform:uppercase;
}

#left ul.submenu li.submenuli:hover {
	background-color: #66FF66;
}

#left ul.submenu li.submenuli a:hover {
	color: black;
	font-weight: bold;
}


table.album_info {
	width: 100%;
}

table.album_info td {
	height: 20px;
}

table.album_info h3 {
	border-bottom-color: #ff363f;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 200%;
	margin-top: 5px;
	margin-bottom: 0px;
}

table.album_info h3 span {
	font-size: 50%;
	padding-left: 30px;
	font-weight: normal;
}

table.album_info td.tags {
	width:60%;
}

table.album_info td.comment a {
	background:transparent url(../images/simpic/comments.gif) no-repeat scroll left bottom;
	padding-left: 15px;
}

.pic_list {
	margin-top: 10px;
	margin-bottom: 20px;
}

table.album_info td.comment {
	width: 100%;
	text-align: right;
}

.pic_list ul {
	padding-left: 0px;
}

.pic_list ul li {
	display: block;
	text-align: center;
	list-style-type: none;
	float:left;
	margin: 5px 5px 20px 5px;
	height: 110px;
	width: 142px;
}

.photo {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
}

#comments_list {
	margin: 20px 20px;
}

#comments_list table{
	text-align: left;
	width: 100%;
	padding-bottom: 20px;
}

#comments_list table caption{
	font-size: 120%;
	text-align: left;
	font-weight: bold;
	font-family: "Comic Sans MS";
}

#comments_list table caption span{
	font-size: 80%;
	font-family: "Comic Sans MS";
	color: red;
}

#comments_list table td.list_name{
	width: 100px;
}

.normal_picture {
	text-align: center;
	width: 100%;
	padding: 20px 0px;
}

.normal_picture td.center {
	width: 700px;
}

.normal_picture td.left,
.normal_picture td.right {
	width: 60px;
}

.normal_picture td.center img {
	max-width: 680px;
	max-height: 510px;
}

#message {
	text-align: center;
}

#message p {
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 120%;
	margin: 5px 0px;
}

#timer {
	color: red;
	margin: 5px 0px;
}