@import "general.css";

body {
	background-color: #141414;
}

#header {
	padding: 25px 0;
	text-align: center;
}

#header h1 {
	color: silver;
}

#main {
	width: 80%;
	margin: auto;
}

#left {
	width: 25%;
	vertical-align: top;
}

#right {
	width: 25%;
	vertical-align: top;
}

#center {
	text-align: center;
	vertical-align: middle;
}

.banner {
	margin-top: 5px;
	padding: 10px 16px;
	color: white;
}

.banner h3 {
	color: black;
	margin-top: 0px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: silver;
}

.banner ul {
	margin:10px;
	padding-left: 0px;
}

.banner ul li {
	font-size: 12px;
	margin-bottom: 5px;
	
}

.banner a {
	color: white;
	text-decoration: none;
}

.banner a:hover {
	color: white;
	text-decoration: underline;
}

#latest {
	background: #71a10b url(../images/simpic/bggreen.jpg) repeat-x scroll left top;
}

#updated {
	background: #dadf02 url(../images/simpic/bgyellow.jpg) repeat-x scroll left top;
}

#top_rated {
	background: #D02D2E url(../images/simpic/bgred.jpg) repeat-x scroll left top;
}

#recent_comments {
	background: #020dd0 url(../images/simpic/bgblue.jpg) repeat-x scroll left top;
}

#password_field {
	text-align: center;
}

#password_field input[type="password"] {
	width: 65%;
}

.tag-x-small { font-size: 50%; }
.tag-small   { font-size: 70%; }
.tag-medium  { font-size: 90%; }
.tag-large   { font-size: 110%; }
.tag-x-large { font-size: 130%; }