div.scroller { 
	width: 493px;; 
	height: 410px;
	overflow-x:hidden;
}

div.scroller div.content {
	width: 1000px;
}

div.scroller div.section {
	width: 493px;
	height: 410px;
	float: left;
	overflow-x:hidden;
}

div.controls table {
	margin: auto;
}

div.controls a {
	display: block;
	color: white;
  outline: none;
	padding: 10px 20px 10px 15px;
}

div.controls a.active {
	display: block;
	color: white;
  outline: none;
	padding: 10px 20px 10px 15px;
	background: transparent url(../../images/simpic/star.png) no-repeat;
}

