<% content_for :left_column do %>
	<table cellspacing="0" cellpadding="0" border="0" class="rounded">
		<tr><td class="corner top_left"/><td class="fillin"/><td class="corner top_right"/></tr>
		<tr>
			<td class="fillin"/>
			<td class="fillin content">
				<ul>
					<% @layout_year_range.each do |year| %>
						<li class="year_item"><%= link_to year, url_for(:controller => :albums, :action => :show, :year => year) %></li>
						<% if year.to_s == @active_year %>
							<ul class="year_active">
								<% @album_list.each do |album| %>
									<li class="<%= album == @album ? "album_active" : "album_item" %>">
										<%= link_to album.title, url_for(:controller => :albums, :action => :show, :dirname => album.dirname) %>
									</li>
								<% end %>
							</ul>
						<% end %>
					<% end %>
				</ul>
			</td>
			<td class="fillin"/>
		</tr>
		<tr><td class="corner bottom_left"/><td class="fillin"/><td class="corner bottom_right"/></tr>
	</table>
<% end %>